<h1>Stores</h1>
<% form_tag stores_path, :method => 'get' do %>
<div>
  <%= text_field_tag :query, params[:query] %>
  <%= collection_select :country, :country_id, Country.all, :id, :name, :prompt =>'Select a Country' %>
</div>
  
  <%= submit_tag "Search", :name => nil %>
<%end%>

<div class="port">
<h1>Stores</h1>
<% i = 1%>
<% @stores.each do |store| %>

	<div class="store" onmouseover="ShowActions('store<%= i%>');return true">
		<div class="actions" id="store<%= i%>" onmouseout="HideActions('store<%= i%>');return true">
			<%= link_to 'Show', store %>
			<%= link_to 'Edit', edit_store_path(store) %>
			<%= link_to 'Destroy', store, :confirm => 'Are you sure?', :method => :delete %>
		</div>
    	<div class="name"><%= store.name %></div>
        <div class="photo">
          <%if store.logo.exists?%>
                <%= link_to(image_tag(store.logo.url, :size =>'175x145'), store) %>
          <% end %>
          
        </div>
    </div>
<% i = i + 1 %>
<% end %>

<div class="admin_actions">
<%= link_to 'New Store', new_store_path %>
</div>
</div>



