<h1>Stores</h1>
<% form_tag stores_path, :method => 'get' do %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search", :name => nil %>
<%end%>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Address</th>
    <th>Country</th>
    <th>State</th>
    <th>City</th>
    <th>Zip</th>
    <th>Phone</th>
    <th>Logo</th>
    <th>Currency</th>
    <th>Permalink</th>
    <th></th>
    <th></th>
    <th></th>
	<th></th>
  </tr>

<% @stores.each do |store| %>
  <tr>
    <td><%= store.name %></td>
    <td><%= store.description %></td>
    <td><%= store.address %></td>
    <td><%= store.country %></td>
    <td><%= store.state %></td>
    <td><%= store.city %></td>
    <td><%= store.zip %></td>
    <td><%= store.phone %></td>
    <td><%= store.logo %></td>
    <td><%= store.currency %></td>
    <td><%= store.permalink %></td>
    <td><%= link_to 'Show', store %></td>
    <td><%= link_to 'Edit', edit_store_path(store) %></td>
    <td><%= link_to 'Destroy', store, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Store', new_store_path %>
