<p id="notice"><%= notice %></p>
<%= image_tag @store.logo.url %>
<p>
  <b>Name:</b>
  <%= @store.name %>
</p>

<p>
  <b>Description:</b>
  <%= @store.description %>
</p>

<p>
  <b>Address:</b>
  <%= @store.address %>
</p>

<p>
  <b>Country:</b>
  <%= @store.country %>
</p>

<p>
  <b>State:</b>
  <%= @store.state %>
</p>

<p>
  <b>City:</b>
  <%= @store.city %>
</p>

<p>
  <b>Zip:</b>
  <%= @store.zip %>
</p>

<p>
  <b>Phone:</b>
  <%= @store.phone %>
</p>

<p>
  <b>Logo:</b>
  <%= @store.logo %>
</p>

<p>
  <b>Currency:</b>
  <%= @store.currency %>
</p>

<p>
  <b>Permalink:</b>
  <%= @store.permalink %>
</p>


<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %> |
<%= link_to 'Show Products', store_products_path(@store) %> |
<%= link_to 'Create Product', new_store_product_path(@store) %>
