<% @page_title = "Users List" %>

<%= link_to("<< Back to Menu", {:controller => 'access', :action => 'menu'}, :class => 'back-link') %>

<div class="user list">
  <h2>Users</h2>

  <%= link_to('Add New User', {:action => 'new'}, :class => 'action new') %>

  <div><%= pluralize(@users.size, 'user') %> found</div>
  
  <table class="listing" summary="users list">
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    <% @users.each do |user| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= user.username %></td>
      <td><%= user.full_name %></td>
      <td><%= mail_to(user.email) %></td>
      <td class="actions">
        <%= link_to('Edit', {:action => 'edit', :id => user.id}, :class => 'action edit') %>
        <%= link_to('Delete', {:action => 'delete', :id => user.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>

</div>
