<p id="notice"><%= notice %></p>
<p><b>Images</b>
<div style="border-style:dashed; ">
   <%if @product.product_images.exists?%>

     <ul id="img_list">

      <% @product_images.each do |foto| %>

        <% content_tag_for :li,foto, :class =>"image_list" do %>
          <%= image_tag foto.image.url, :size=>'150x150' %>
        <%end%>

      <%end%>

     </ul>
  <% end %>
  </div>
</p>
<div>
<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>
<b>Categories:</b>
  <ul>
    <% @product.categories.each do |cat|   %>
    <li> <%= cat.name %> </li>
    <%end%>
  </ul>
<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Category:</b>
  <%= @product.category %>
</p>
</div>

<%= link_to 'Edit', edit_store_product_path(@store) %> |
<%= link_to 'Back', store_products_path %>
